{{ define "main" }}

{{ $eventItems:= where .Site.Pages "Section" "events"}}
{{ $groupItems:= where .Site.Pages ".Params.group" (.Title | urlize )}}
{{ $pastItems := where .Site.Pages ".Params.startdate" "lt" (now.Format "2006-01-02")}}
{{ $futureItems := where .Site.Pages ".Params.startdate" "ge" (now.Format "2006-01-02")}}
{{ $pastGroupEvents := $eventItems | intersect $pastItems | intersect $groupItems }}
{{ $futureGroupEvents := $eventItems | intersect $futureItems | intersect $groupItems }}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    {{ with .Site.GetPage "/group" }}<li class="breadcrumb-item"><a href="{{ .Permalink }}">Groups</a></li>{{ end }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

  
  <div class="row">
    <div class="col-md-12">
      <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        {{ range where .Pages "Params.show_tabs" true }}
          <li class="group-information">
            <a class="nav-link" data-toggle="tab" href="/#{{ .Title | urlize }}">{{ .Title }}</a>
          </li>
        {{ end  }}
        <li class="group-information">
          <a class="nav-link" data-toggle="tab" href="/#upcomingEvents">Upcoming Events</a>
        </li>
        <li class="group-information">
          <a class="nav-link" data-toggle="tab" href="/#pastEvents">Past Events</a>
        </li>
      </ul>
      
      <div class="tab-content" id="group-informationContent">
        <div class="tab-pane fade" id="upcomingEvents" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul>
          {{ range $futureGroupEvents }}          
          <div class="col-md-4 on-hover">
            {{ partial "helper/event.html" . }}
          </div>
          {{ end }}
        </ul>
        </div>
        
        <div class="tab-pane fade" id="pastEvents" role="tabpanel" aria-labelledby="nav-home-tab">
          <ul>
            {{ range $pastGroupEvents }}          
            <div class="col-md-4 on-hover">
              {{ partial "helper/event.html" . }}
            </div>
            {{ end }}
          </ul>
          </div>
        {{ range where .Pages "Params.show_tabs" true }}
          <div class="tab-pane fade active {{ if eq .Params.starting_view true }}show{{ end }}" id="{{ .Title | urlize }}" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ .Content }}
          </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-4">
      {{ partial "helper/social-normal.html" . }}
      <h2>Organizers</h2>
      {{ range .Sections }}        
        {{ $currentSection := .CurrentSection }}
        {{ range where $currentSection.Pages "Params.page_type" "organizer"  }}
          <div class="row">
            <div class="col-8">
              <p>{{ .Title }}</p>
              {{ partial "helper/social-small.html" . }}
            </div>
            <div class="col-4">
              <img src="{{ .Params.image | absURL}}" width="70" height="70" border="0" class="rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" /></a>
            </div>
          </div>
        {{ end }}

      {{ end }}

      
      <h2>Sponsors</h2>
      {{ range .Sections }}        
        {{ $currentSection := .CurrentSection }}
        {{ range where $currentSection.Pages "Params.page_type" "sponsor"  }}
          <div class="row">
            <div class="col-8">
              <p>{{ .Title }}</p>
              {{ partial "helper/social-small.html" . }}
            </div>
            <div class="col-4">
              <img src="{{ .Params.image | absURL}}" width="70" height="70" border="0" class="rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" /></a>
            </div>
          </div>
        {{ end }}

      {{ end }}
    </div>
  </div>
</div>
{{ end }}