{{ define "main" }}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    {{ with .Site.GetPage "/groups" }}<li class="breadcrumb-item"><a href="{{ .Permalink }}">Groups</a></li>{{ end }}
    <li class="breadcrumb-item"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ .Parent.Title }} -{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}