{{ define "main" }}
{{ $currentSection := .CurrentSection }}
{{ $future := where $currentSection.Pages ".Params.startdate" "ge" (now.Format "2006-01-02") }}
{{ $paginator := $.Paginate $future  }}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>

  <div class="row">
    <center>
      {{ template "_internal/pagination.html" . }}
    </center>
  </div>
  <div class="row mt-4 interactive-cards">
    <!-- Column -->
    {{ range (.Paginate ($currentSection.Pages.ByTitle )).Pages }}
    <div class="col-md-4 on-hover">
      <div class="card border-0 mb-4">
        <a href="#"><img class="card-img-top" src="{{ .Permalink | absURL }}{{ .Params.image }}" alt="{{ .Title }}"></a>
        <h5 class="font-weight-medium mt-3"><a href="{{ .Permalink | absURL }}" class="text-decoration-none link">{{ .Title }}</a></h5>
        <p class="mt-3">{{ .Params.Venue }}</p>
        <p>{{ dateFormat "Mon Jan 01 - 03:04PM" .Params.startDate  }}</p>
        <a href="{{ .Permalink | absURL }}" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
      </div>
    </div>
    {{ end }}    
  </div>
  
  <div class="row">
    <center>
      {{ template "_internal/pagination.html" . }}
    </center>
  </div>
</div>
{{ end }}