{{ define "main" }}
{{ $taxo := "topics" }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
          {{ with .Site.GetPage "/event" }}<li class="breadcrumb-item"><a href="{{ .Permalink }}">Events</a></li>{{ end }}
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-8">
      <p>{{ .Content }}</p>
    </div>
    <div class="col-md-4">

      {{ with .Params.group }}
        <h2>Group</h2>
        {{ with $.Site.GetPage "group" . }}
          <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
      
      <h2>Speakers</h2>      
      {{ range .CurrentSection.Pages }}
        <div class="row">
          <div class="col-8">
            <strong>{{ .Title }}</strong>
            {{ with .Params.topics }}
              {{ partial "helper/tags.html" (dict "taxo" $taxo "value" . "siteVariable" $.Site ) }}
            {{ end }}
          </div>
          <div class="col-4">
            {{ with .Params.speakers }}
              <div class="col-md-6">                  
                {{ range $name := . }}
                  {{ $.Scratch.Set "person" $name }}
                  {{- range where $.Site.Pages "Type" "speaker" -}}
                    {{- if eq .File.BaseFileName ($.Scratch.Get "person") -}}
                      {{- $.Scratch.Set "host-exist" "true" -}}     
                          <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="70" height="70" border="0" class="rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                      {{- $.Scratch.Set "host-exist" "false" -}}
                    {{ end }}
                  {{- end -}}
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>

    {{ end }}

      
      {{ range .Sections }}        
        {{ $currentSection := .CurrentSection }}
        {{ $sponsors := where $currentSection.Pages "Params.page_type" "sponsor" }}
        {{ with $sponsors }}
          <h2>Sponsors</h2>
          {{ range . }}
            <div class="row">
              <div class="col-8">
                {{ .Title }}
              </div>
              <div class="col-4">
                <img src="{{ .Params.image | absURL}}" width="70" height="70" border="0" class="rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" /></a>
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}