<div class="card border-0 mb-4">
  <a href="{{ .Permalink }}"><img class="card-img-top" src="{{ .Permalink | absURL }}{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}"></a>
  <h3 class="font-weight-medium mt-3"><a href="{{ .Permalink | absURL }}" class="text-decoration-none link">{{ .Title }}</a></h3>
  <p class="mt-3">{{ .Params.Location }}</p>
  {{ with .Params.startDate }}<p>{{ dateFormat "Monday Jan 2, 2006 - 03:04PM" . }}</p>{{ end }}
  <a href="{{ .Permalink | absURL }}" class="text-decoration-none linking text-themecolor mt-2">Learn about {{ .Title }}</a>
</div>