<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
    {{- partial "head.html" . -}}
    <body>        
        <wrapper class="d-flex flex-column">
            {{- partial "header.html" . -}}
            <div id="content" class="container-fluid flex-fill mb-5">
            {{- block "main" . }}{{- end }}
            </div>
            {{ if and (isset $.Site.Params "show_last_updated") $.Site.Params.show_last_updated }}
                {{ partial "helper/last-update.html" . }}
            {{ end }}
            {{- partial "footer.html" . -}}
        </wrapper>
        <div border="1px solid #000000" width="512" height="512">
                TEst
        </div>
    </body>
</html>
