{{ define "main" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col">      
      <ul>
        {{ range .CurrentSection.Pages }}
          <li>{{ .Title }}</li>
        {{ end }}
      </ul>
      
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}