{{ define "main" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<div class="container">
  <h1>Community Resources</h1>
  
  {{ with .Content }}<p>{{ . }}</p>{{ end }}

  
  <ul class="nav nav-tabs">
  {{ range $term, $value := .Site.Taxonomies.communityTypes }}
  <li class="group-information">
    <a class="nav-link" data-toggle="tab" href="/#{{ $term | urlize }}">{{ $term | humanize | pluralize }}</a>
  </li>
  {{ end }}
  </ul>

  <div class="row">
    <div class="col">  
      <div class="tab-content" id="group-informationContent">
        {{ range $term, $value := .Site.Taxonomies.communityTypes }}
          <div class="tab-pane fade" id="{{ $term | urlize }}" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ range $value }}
              <div class="col-4">
                {{ partial "helper/community.html" .Page }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}