{{ define "main" }}
  <div class="row">
    {{ partial "header/jumbotron.html" . }}
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ .Content }}
      </div>
    </div>    
    <div class="row">
      <div class="col-12">      
        <h2>Next Events <small>{{ with .Site.GetPage "events" }}<a href="{{ .Permalink }}">Take a look at the full list</a>{{ end }}</small></h2>
      </div>
    </div>
    <div class="row">   
      {{ $events := (.Site.GetPage "events").Pages }}
        {{ range where $events ".Title" "!=" "Past Events"  }}
        <div class="col">
          {{ partial "helper/event.html" . }}
        </div>
      {{ end }}
    </div>
  <div class="row">
    <div class="col-12">      
      <h2>Some of the speakers <small>{{ with .Site.GetPage "speakers" }}<a href="{{ .Permalink }}">See the full list</a>{{ end }}</small></h2>
    </div>
  </div>
  <div class="row">
    {{ $shuffleSpeakerList := first $.Site.Params.home.speakers (shuffle (where .Site.RegularPages "Section" "speakers")) }}
    {{ range $shuffleSpeakerList }}
    <div class="col-lg-4">
      {{ partial "speaker/speaker.html" . }}
    </div><!-- /.col-lg-4 -->
    {{ end }}
  </div><!-- /.row -->

  {{ partial "home/groups.html" . }}
</div>

{{ end }}