{{ define "main" }}
{{ $currentSection := .CurrentSection }}
{{ $future := where $currentSection.Pages ".Params.startdate" "ge" (now.Format "2006-01-02") }}
{{ $paginator := $.Paginate $future  }}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<div class="container">
  

  <h1>Upcoming Events</h1>

  <div class="row">
    <center>
      {{ template "_internal/pagination.html" . }}
    </center>
  </div>
  <div class="row mt-4 interactive-cards">
    <!-- Column -->
    {{ range (.Paginate ($currentSection.Pages.ByTitle )).Pages }}
    <div class="col-md-4 on-hover">
      {{ partial "helper/event.html" . }}
    </div>
    {{ end }}    
  </div>
  
  <div class="row">
    <center>
      {{ template "_internal/pagination.html" . }}
    </center>
  </div>
</div>
{{ end }}