{{ define "main" }}
{{ $taxo := "topics" }}
{{ $context := .}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
    {{ with .Site.GetPage "/events" }}<li class="breadcrumb-item"><a href="{{ .Permalink }}">Events</a></li>{{ end }}
    <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
      <h1>{{ .Title }}</h1>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <p>{{ .Content }}</p>
        <hr>
      </div>
      <div class="row">
        <h2>Speakers</h2>

        <ul class="nav nav-tabs">
          {{ $activities := where .CurrentSection.Pages "Params.page_type" "activity" }}
          {{ $tracks := $activities.GroupByParam "event_track" }} 
          {{ range $index, $value := $tracks }}
            <li class="group-information">
              <a class="nav-link" data-toggle="tab" href="#{{ .Key | urlize }}">{{ $value.Key | humanize }}</a>
            </li>
          {{ end  }}
        </ul>
        
        <div class="tab-content" id="group-informationContent">
          {{ range $index, $value := $tracks }}    
          <div class="tab-pane fade active" id="{{ $value.Key | urlize }}" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ partial "helper/schedule.html" (dict "taxo" $taxo "value" $value "siteVariable" $.Site ) }}
          </div>
        {{ end }}
        </div>
      </div>
      <div class="row">
      <hr>
        {{ if eq .Site.Params.Config.disqus_enabled true }}
          {{ template "_internal/disqus.html" $context }}
        {{ end }}
      </div>
    </div>
    <div class="col-md-4">

      {{ with .Params.group }}
        <h2>Group</h2>
        {{ with $.Site.GetPage "group" . }}
          <div class="row">
            {{ partial "helper/group.html" . }}
          </div>
        {{ end }}
        <hr >
      {{ end }}
      
      {{ range .Sections }}        
        {{ $currentSection := .CurrentSection }}
        {{ $sponsors := where $currentSection.Pages "Params.page_type" "sponsor" }}
        {{ with $sponsors }}
          <h2>Event Sponsors</h2>
          {{ range . }}
            <div class="row">
              <div class="col-8">
                <p>{{ .Title }}</p>
                {{ partial "helper/social-small.html" . }}
              </div>
              <div class="col-4">
                {{ if and (isset .Params "image") (ne .Params.image "") }}
                  <img src="{{ .Params.image | absURL}}" width="70" height="70" border="0" class="rounded-circle" alt="{{ .Title }}" title="{{ .Title }}" />
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}