
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
            <button aria-label="Navigation Button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="navbar-toggler-icon"></span>
            </button> <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="navbar-nav">
                {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                    {{ partial "helper/navigation-menu.html" (dict "context" . "currentPage" $currentPage) }}
                  {{ end }}
              </ul>
            </div>
          </nav>